<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Vue</title>
</head>
<body>

    <div id="container">
        <h1>{{ name }}</h1>
        <h3>{{ lastname }}</h3>

        <fieldset>
            <h1>Personal info</h1>
            <input type="text" v-model="name" placeholder="Name" />
            <input type="text" v-model="lastname" placeholder="Last name" />
            <button @click="greet">Greet</button>
        </fieldset>
        <hr />
        <fieldset>
            <legend>Calculator</legend>
            <input type="number" v-model="num1" />
            <input type="number" v-model="num2" />
            <button @click="sum">Sum</button>
            <h3>{{ result }}</h3>
        </fieldset>
        <hr/>
        <h2>Plebada</h2>
        <ol>
            <li v-for="student in students">{{student.name}} :  {{student.role}}</li>
        </ol>

        <hr/>
        <fieldset>
            <legend>New student</legend>
            <input type="text" v-model="a_name" placeholder="Name" />
            <input type="text" v-model="a_role" placeholder="Rol" />
            <button @click="add">Add</button>
        </fieldset>
        <hr />

        <fieldset>
            <label for="" style="padding-right: 20px">Age</label>
            <input type="number" v-model="age" />
            <h1 v-if="age >= 18">Pasele a pistear</h1>
            <h1 v-show="age < 18">Fuga pa la casa</h1>
        </fieldset>
    </div>

	<script src="https://unpkg.com/vue@3"></script>
	<script type="text/javascript">

		const { createApp } = Vue;

		const app = createApp({
			data() {
				return {
                    num1: 0,
                    num2: 0,
                    result: 0,
                    age: 0,
                    students: [
                        {
                            name: 'Manny',
                            role: 'Front End'
                        },
                        {
                            name: 'Maryam',
                            role: 'Full Stack'
                        },
                        {
                            name: 'Tina',
                            role: 'Data Analyst'
                        },
                        {
                            name: 'Dede',
                            role: 'Back End'
                        },
                        {
                            name: 'Helin',
                            role: 'Data Engineer'
                        },
                    ],
                    a_name: '',
                    roles: '',
					name: '',
                    lastname: ''
				};
			},
            methods: {
                greet() {
                    alert('Hi, ' + this.name + ' ' + this.lastname);
                    this.name = name;
                    this.lastname = lastname;
                },
                sum() {
                    this.result =+ this.num1 + this.num2;
                },
                add() {
                    this.students.push({name:this.a_name, role:this.a_role});
                    this.a_name = '';
                    this.a_role = '';
                }

            }
		}).mount('#container')

	</script>
</body>
</html>